@import 'dragon-options.css';
@import 'fire-options.css';

@font-face {
    font-family:"Arcade Classic Regular";
    src: url("assets/ARCADECLASSIC.TTF")
}


body {
  font-family: 'Arcade Classic Regular', sans-serif;
  color: #fff;
  background-color: #222;
}

h1 {
  text-align: center;
  font-size: 72px;
  margin: 0;
  text-shadow: 2px 2px #ff0000;
}

#options {
  width: 600px;
  height: 420px;
  position: absolute;
  background-image: url("assets/stone.png");
  background-repeat: repeat;
  padding-top: 20px
}

#options-header {
  font-size: 48px;
  color: #fff;
  text-shadow: 1px 2px #000;
  text-align: center;
}

#play-game {
  font-size: 36px;
  color: #fff;
  text-shadow: 1px 2px #000;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 19px auto 0px auto;
}

#play-game:hover {
  cursor: pointer;
  margin-top: 17px;
  text-shadow: 1px 2px #ff0000;
  border: 2px dashed #fff;
}

#play-game.game-select {
  margin-top: 17px;
  border: 2px solid #fff;
}

#play-game > span {
  position: relative;
  top: 8px;
}

#game-container {
  width: 600px;
  top: 10px;
  height: 440px;
  overflow: hidden;
  margin: auto;
  border: 3px solid #fff;
  position: relative;
}

#rules {
  font-family: monospace;
  height: 105px;
  margin-top: -5px;
  width: 600px;
  left: 50%;
  margin-left: -175px;
  text-align: left;
  font-size: 18px;
  position: relative;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -203px;
  margin-top: -50px;
  width: 400px;
  height: 200px;
  background-color: #222;
  border: 3px solid #07FC1C;
  font-size: 40px;
  color: #fff;
}

#game-lost {
  border: 3px solid #FF0000;
  height: 250px;
  margin-top: -75px;
}

#cheater {
  font-size: 16px;
  text-align: center;
  position: relative;
  width: 132px;
  top: 46px;
  margin: auto;
  padding: 4px;
}

#cheater:hover {
  cursor: pointer;
  border: 2px solid #fff;
  padding: 2px;
}

.game-over > div:first-child {
  text-align: center;
  position: relative;
  top: 20px;
}

.play-again {
  position: relative;
  top: 35px;
  width: 204px;
  margin: auto;
  padding: 4px 11px;
  border: 2px dashed #fff;
}

.play-again:hover {
  cursor: pointer;
  padding: 4px 11px;
  border: 2px solid #fff;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

#music-toggle {
  position: relative;
  display: inline-block;
  width: 150px;
}

#music-toggle:hover {
  cursor: pointer;
}

#sound-effects-toggle {
  display: inline-block;
  float: right;
}

#audio {
  width: 600px;
  margin: auto;
  font-family: monospace;
  font-size: 18px;
}

#sound-effects-toggle:hover {
  cursor: pointer;
}
