@font-face {
    font-family:"Arcade Classic Regular";
    src: url("assets/ARCADECLASSIC.TTF")
}



body {
  font-family: 'Arcade Classic Regular', sans-serif;
}

h1 {
  text-align: center;
  font-size: 72px;
  margin: 0;
}


#options {
  width: 200px;
}

#game-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  border: 20px double #333;
  float: left;
}

#controls {
  width:160px;
  position: relative;
  top: 30px;
  float:left;
  font-size: 30px;
  margin-left: 20px;
  text-align: left;
}
